body {
    font-family: 'Sora', sans-serif;
    background-color: #1b1b1b;
    text-align: center;
}
	
.logo{
	padding: 20px;
	background-color: #fff;
	height: auto; 
    width: auto;
    max-height: 213px;
}

.infotela{
	margin: 45px;
	font-size: 32px;
	
	text-align: center;
	vertical-align: middle;
	
}

.produto{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.caixa1{
	background-color: #EFDA20;
	height: 95px;
	margin-top: 20px;
	
	text-align: right;
	vertical-align: middle;
	line-height: 95px;
	font-size: 36px;
	
	position: relative;
	
}

.caixa2{
	background-color: #EFDA20;
	height: 95px;
	margin-top: 20px;
	
	text-align: right;
	vertical-align: middle;
	line-height: 95px;
	font-size: 36px;
	
	position: relative;
	
}

.caixa3{
	background-color: #EFDA20;
	height: 95px;
	margin-top: 20px;
	
	text-align: right;
	vertical-align: middle;
	line-height: 95px;
	font-size: 36px;
	
	position: relative;
	
}

.caixa4{
	background-color: #EFDA20;
	height: 95px;
	margin-top: 20px;
	
	text-align: right;
	vertical-align: middle;
	line-height: 95px;
	font-size: 36px;
	
	position: relative;
	
}

.caixa5{
	background-color: #EFDA20;
	height: 95px;
	margin-top: 20px;
	
	text-align: right;
	vertical-align: middle;
	line-height: 95px;
	font-size: 36px;
	
	position: relative;
	
}

.caixa6{
	background-color: #EFDA20;
	height: 95px;
	margin-top: 20px;
	margin-bottom: 126px;
	
	text-align: right;
	vertical-align: middle;
	line-height: 95px;
	font-size: 36px;
	
	position: relative;
	
}

.botoes{
	margin: 0;
	padding: 0;
	float: top;
	height: auto; 
    width: auto;
    max-height: 120px;
	vertical-align: top;
}